<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="absentPingInterval" value="5000" />
    <add key="presentPingInterval" value="60000" />
    <add key="presentPingRetries" value="5" />
    <add key="timeout" value="3000" />
    <add key="soundId" value="1" />
    <add key="address" value="192.168.1.2" />
  </appSettings>
</configuration>